/* MMP - Joscha Probst und David Neubauer */
/**
 * ON/OFF Switch
 */
.label-switch {
  align-self: center;
  border-radius: 32px;
  cursor: pointer;
  display: inline-block;
  height: 32px;
  position: relative;
  vertical-align: middle;
  width: 52px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.label-switch input[type="checkbox"] {
  display: none;
}
.label-switch input[type="checkbox"] + .checkbox {
  background: #e5e5e5;
  border: none;
  border-radius: 32px;
  cursor: pointer;
  height: 32px;
  margin: 0;
  padding: 0;
  position: relative;
  width: 52px;
  z-index: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.label-switch input[type="checkbox"] + .checkbox:before {
  background: #ccc;
  border-radius: 32px;
  content: ' ';
  height: 28px;
  width: 48px;
  z-index: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 2px;
  right: 0;
  bottom: 0;
  left: 2px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.label-switch input[type="checkbox"] + .checkbox:after {
  background: white;
  border-radius: 28px;
  content: ' ';
  height: 28px;
  width: 28px;
  z-index: 2;
  position: absolute;
  top: 2px;
  right: 0;
  bottom: 0;
  left: 2px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.label-switch input[type="checkbox"]:checked + .checkbox {
  background: #37e889;
}
.label-switch input[type="checkbox"]:checked + .checkbox:before {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.label-switch input[type="checkbox"]:checked + .checkbox:after {
  left: 22px;
}

.manymes-container {
  position: fixed;
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  left: 0;
  top: 0;
  right: 0;
  color: white;
  z-index: 9999;
  background-color: #D72B0C;
  opacity: 1;
}
