$fg-column: 60px;             // Column Width
$fg-gutter: 25px;             // Gutter Width
$fg-max-columns: 12;          // Total Columns For Main Container

@import "../bower_components/bourbon/dist/bourbon";
@import "modules/_plugin";
@import "modules/_switch";
@import "modules/_inject";
@import "modules/_configurator";