/* MMP - Joscha Probst und David Neubauer */
#manymes {
  background-color: #eaeaea;
  padding: 0;
  margin: 0;
}
#manymes header {
  margin-bottom: 30px;
  padding: 10px;
  border-bottom: 1px solid #384444;
  background-color: #dddddd;
}
#manymes header h2 {
  font-size: 1.5em;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: #384444;
}
#manymes footer {
  border-top: 1px solid #384444;
  margin-top: 20px;
  padding: 10px;
  background-color: #dddddd;
  color: #fff;
  height: 30px;
  position: relative;
}
#manymes footer #myonoffswitch {
  position: absolute;
  right: 20px;
}
#manymes footer .share {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-top: 2px;
  opacity: 0.7;
}
#manymes footer .share.facebook {
  background: url("../images/social/png/facebook.png") no-repeat;
  background-size: 100%;
}
#manymes footer .share.gplus {
  background: url("../images/social/png/googleplus.png") no-repeat;
  background-size: 100%;
}
#manymes footer .share.twitter {
  background: url("../images/social/png/twitter.png") no-repeat;
  background-size: 100%;
}
#manymes footer .share.github {
  background: url("../images/social/png/github.png") no-repeat;
  background-size: 100%;
}

.onoffswitch {
  position: relative;
  width: 86px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 50px;
}

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s;
  -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 24px;
  padding: 0;
  line-height: 24px;
  font-size: 18px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.onoffswitch-inner:before {
  content: "ON";
  padding-left: 12px;
  background-color: #ffb83a;
  color: #FFFFFF;
}

.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 12px;
  background-color: #EEEEEE;
  color: #999999;
  text-align: right;
}

.onoffswitch-switch {
  display: block;
  width: 31px;
  margin: -3.5px;
  background: #FFFFFF;
  border: 2px solid #999999;
  border-radius: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 58px;
  -moz-transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

.active .onoffswitch-checkbox + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.active .onoffswitch-checkbox + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

.manymes-container {
  position: fixed;
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  left: 0;
  top: 0;
  right: 0;
  color: white;
  z-index: 9999;
  background-color: #D72B0C;
  opacity: 1;
}

#manymes-sack {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 150px;
  width: 100px;
  z-index: 9999;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#manymes-avatar {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 250px;
  width: 200px;
  z-index: 9999;
  background-repeat: no-repeat;
}

#configurator {
  display: block;
  position: relative;
  width: 600px;
  height: 300px;
}
#configurator .social {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -400px;
  text-align: center;
  background-color: #dddddd;
  color: #879292;
  width: 800px;
  border-radius: 10px;
  height: 30px;
  font-size: 20px;
  line-height: 30px;
  z-index: 4;
}
#configurator button {
  border: none;
  background-color: #dddddd;
  color: #879292;
  font-size: 20px;
  line-height: 20px;
  border-radius: 10px;
  width: 35px;
  height: 25px;
  margin: 0 2px;
  transition: all ease-in 0.3s;
}
#configurator button:focus {
  outline: none;
}
#configurator button:hover {
  background-color: #879292;
  color: #ced5de;
  cursor: pointer;
}
#configurator .avatar {
  position: absolute;
  height: 250px;
  width: 200px;
  text-align: center;
}
#configurator #avatar-0 {
  z-index: 1;
  background-size: 100px auto;
  background-position: center 0;
}
#configurator #avatar-1 {
  left: 200px;
  z-index: 3;
  background-size: 200px auto;
  background-position: center 0;
}
#configurator #avatar-2 {
  left: 400px;
  z-index: 1;
  background-size: auto 300px;
  background-position: center 0;
}
