/* MMP - Joscha Probst und David Neubauer */
body {
  background-color: #eaeaea;
  padding: 0;
  margin: 0;
}

header {
  margin-bottom: 30px;
  padding: 10px;
  border-bottom: 1px solid #384444;
  background-color: #dddddd;
}
header h2 {
  font-size: 1.5em;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: #384444;
}

footer {
  border-top: 1px solid #384444;
  text-align: right;
  margin-top: 40px;
  padding: 10px;
  background-color: #dddddd;
}

/**
 * ON/OFF Switch
 */
.label-switch {
  align-self: center;
  border-radius: 32px;
  cursor: pointer;
  display: inline-block;
  height: 32px;
  position: relative;
  vertical-align: middle;
  width: 52px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.label-switch input[type="checkbox"] {
  display: none;
}
.label-switch input[type="checkbox"] + .checkbox {
  background: #879292;
  border: none;
  border-radius: 32px;
  cursor: pointer;
  height: 32px;
  margin: 0;
  padding: 0;
  position: relative;
  width: 52px;
  z-index: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.label-switch input[type="checkbox"] + .checkbox:before {
  background: #ced5de;
  border-radius: 32px;
  content: ' ';
  height: 28px;
  width: 48px;
  z-index: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 2px;
  right: 0;
  bottom: 0;
  left: 2px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.label-switch input[type="checkbox"] + .checkbox:after {
  background: white;
  border-radius: 28px;
  content: ' ';
  height: 28px;
  width: 28px;
  z-index: 2;
  position: absolute;
  top: 2px;
  right: 0;
  bottom: 0;
  left: 2px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.label-switch input[type="checkbox"]:checked + .checkbox {
  background: #57bbd4;
}
.label-switch input[type="checkbox"]:checked + .checkbox:before {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.label-switch input[type="checkbox"]:checked + .checkbox:after {
  left: 22px;
}

.manymes-container {
  position: fixed;
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  left: 0;
  top: 0;
  right: 0;
  color: white;
  z-index: 9999;
  background-color: #D72B0C;
  opacity: 1;
}

#configurator {
  display: block;
  position: relative;
  width: 500px;
  height: 250px;
  margin-left: -25px;
}
#configurator button {
  border: none;
  background-color: #dddddd;
  color: #879292;
  font-size: 20px;
  line-height: 20px;
  border-radius: 10px;
  width: 35px;
  height: 25px;
  margin: 0 2px;
  transition: all ease-in 0.3s;
}
#configurator button:focus {
  outline: none;
}
#configurator button:hover {
  background-color: #879292;
  color: #ced5de;
  cursor: pointer;
}
#configurator .avatar {
  position: absolute;
  height: 250px;
  width: 250px;
  background-color: red;
  text-align: center;
}
#configurator #avatar-0 {
  z-index: 1;
  background: url("../images/avatars/feuerwehr.png") no-repeat;
  background-size: auto 300px;
  background-position: center -50px;
}
#configurator #avatar-1 {
  left: 150px;
  z-index: 3;
  background: url("../images/avatars/computer.png") no-repeat;
  background-size: auto 300px;
  background-position: center -50px;
}
#configurator #avatar-2 {
  left: 300px;
  z-index: 1;
  background: url("../images/avatars/bayern1.png") no-repeat;
  background-size: auto 300px;
  background-position: center -50px;
}
#configurator:after {
  content: "";
  display: table;
  clear: both;
}
