$avatar-width: 200px;
$avatar-height: 300px;
$social-width: 300px;

#configurator{
    display: block;
    position: relative;
    width: $avatar-width * 3;
    height: $avatar-height;

    .social{
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left:  - $social-width / 2;
        text-align: center;
        background-color: darken(#eaeaea, 5%);
        color: $grey;
        width: $social-width;
        border-radius: 10px;
        height: 30px;
        font-size: 20px;
        line-height: 30px;
        z-index: 4;
    }

    button{
        border: none;
        background-color: darken(#eaeaea, 5%);
        color: $grey;
        font-size: 20px;
        line-height: 20px;
        border-radius: 10px;
        width: 35px;
        height: 25px;
        margin: 0 2px;
        transition: all ease-in 0.3s;

        &:focus{
            outline: none;
        }

        &:hover{
            background-color: $grey;
            color: $grey-light;
            cursor: pointer;
        }
    }

    .avatar{
        position: absolute;
        height: 250px;
        width: $avatar-width;
        background-color: red;
        text-align: center;
    }

    #avatar-0{
        z-index: 1;
        background: url('../images/avatars/feuerwehr.png') no-repeat;
        background-size: auto 300px;
        background-position: center -50px;
    }

    #avatar-1{
        left: $avatar-width;
        z-index: 3;
        background: url('../images/avatars/computer.png') no-repeat;
        background-size: auto 300px;
        background-position: center -50px;
    }

    #avatar-2{
        left: $avatar-width * 2;
        z-index: 1;
        background: url('../images/avatars/bayern1.png') no-repeat;
        background-size: auto 300px;
        background-position: center -50px;
    }

    @include clearfix;
}