#manymes{
    background-color: #eaeaea;
    padding: 0;
    margin: 0;

    header{
        margin-bottom: 30px; 
        padding: 10px;
        border-bottom: 1px solid $grey-dark;
        background-color: darken(#eaeaea, 5%);

        h2{
            font-size: 1.5em;
            margin: 0;
            font-family: Helvetica, Arial, sans-serif;
            color: $grey-dark;
        }
    }


    footer{
        border-top: 1px solid $grey-dark;
        margin-top: 20px;
        padding: 10px;
        background-color: darken(#eaeaea, 5%);
        color: #fff;
        height: 30px;
        position: relative;

        #myonoffswitch{
            position: absolute;
            right: 20px;
        }

        .share{
            display: inline-block;
            width: 25px;
            height: 25px;
            margin-top: 2px;
            opacity: 0.7;

            &.facebook{
                background: url('../images/social/png/facebook.png') no-repeat;
                background-size: 100%;
            }

            &.gplus{
                background: url('../images/social/png/googleplus.png') no-repeat;
                background-size: 100%;
            }

            &.twitter{
                background: url('../images/social/png/twitter.png') no-repeat;
                background-size: 100%;
            }

            &.github{
                background: url('../images/social/png/github.png') no-repeat;
                background-size: 100%;
            }
        }
    }
}